<div id="index">
	<div class="container">
		<div class="row">
			<div class="col-sm-2" style="position: relative;">
				<div class="nav">
					<img class="logo" src="/assets/logo.png" />
					<ul class="navigation">
						<li><a href="http://soundcloud.com/jednayef">Soundcloud</a>
						<li><a href="http://instagram.com/jednayef">Instagram</a>
						<li><a href="http://facebook.com/jednayef">Facebook</a>
						<li><a href="http://twitter.com/jednayef">Twitter</a>
					</ul>
					<p class="copyright">
						NAYEF INTL<br>NEW YORK CITY<br>&copy; 2015
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-2 blog">
				<div class="row">
					<div class="col-sm-12">
						<img class="cd" src="/assets/cd.jpg" />
						<h3>For the Money</h3>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a class="sweatshirt" href="http://jednayef.bigcartel.com/"><img src="/assets/sweatshirt.png" /></a>
						<h3>Jed Nayef Apparrel</h3>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<img class="cd" src="/assets/cd.jpg" />
						<h3>For the Money</h3>
						<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>