<div id="index">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<img class="arabic left" src="/assets/left_arabic.png" />
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">
						<img class="cd" src="/assets/cd.jpg" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<ul class="navigation">
							<li><a href="#">Soundcloud</a>
							<li><a href="#">Instagram</a>
							<li><a href="#">Facebook</a>
							<li><a href="#">Twitter</a>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<img class="sweatshirt" src="/assets/sweatshirt.png" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="copyright">
							NAYEF INTL<br>NEW YORK CITY<br>&copy; 2015
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<img class="arabic right" src="/assets/right_arabic.png" />
			</div>
		</div>
	</div>
</div>