/* line 10, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .arabic {
  display: block;
  height: 85vh;
  margin-top: 7.5vh;
}
/* line 16, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .arabic.right {
  float: right;
}
/* line 20, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20em;
}
/* line 28, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .logo {
  width: 50%;
  margin: 3em auto;
  display: block;
}
/* line 34, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .cd {
  display: block;
  width: 100%;
  margin: 10vh auto 2em;
}
/* line 40, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .sweatshirt {
  display: block;
  width: 20em;
  margin: 2em auto;
}
/* line 45, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .sweatshirt img {
  display: block;
  width: 100%;
}
/* line 51, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .navigation {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
/* line 59, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .navigation li a {
  font-family: 'Impact', sans-serif;
  letter-spacing: 3px;
  color: #000;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 68, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index .navigation li a:hover {
  background: #000;
}
/* line 74, /Users/Bryan/Desktop/projects/jednayef/app/assets/stylesheets/main.scss */
#index p.copyright {
  display: block;
  text-align: center;
  margin: 5em 0 0;
  font-family: "Courier New";
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 10px;
  position: absolute;
  bottom: 3em;
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

